
<h2>Cheapest Tickets</h2>
<ul>
	<li data-ng-repeat="ticket in cheapestLocalTickets track by $index">
		<span>Event: <i data-ng-bind="ticket.eventName"></i> - cheapest ticket: $<em data-ng-bind="ticket.cheapestTicket"></em></span>
	</li>
</ul>


<div class="container grid-container">
	<div class="grid-event-box {{event.selected}}" ng-repeat="event in grid track by $index" ng-class="{'event-selected': event.selected, 'near-event': event.highlighted }" style="width: {{eventBoxWidth}}%;">
        {{event.eventCoords.x}}, {{event.eventCoords.y}}
	</div>
</div>


<input type="text" data-ng-model="gridWidth"/><button data-ng-click="generateGrid(gridWidth)">Generate Grid</button>