<h1>Grid.html</h1>


<input type="coordinates" name="coordinates" data-ng-model="coordinates"><button data-ng-click="findNearest(coordinates)">Search Coordinates</button><button data-ng-click="clearSearch()">Clear search</button>


<h2>Cheapest Tickets</h2>
<ul>
	<li data-ng-repeat="ticket in cheapestLocalTickets track by $index">
		<span>Event: <i data-ng-bind="ticket.eventName"></i> - cheapest ticket: $<em data-ng-bind="ticket.cheapestTicket"></em></span>
	</li>
</ul>


<div class="container">
	<div class="grid-event-box {{event.selected}}" ng-repeat="event in grid track by $index" ng-class="{'event-selected': event.selected, 'near-event': event.highlighted }" >
        {{event.eventCoords.x}}, {{event.eventCoords.y}}
	</div>
</div>
